
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Customer.css" rel="stylesheet">
<div class="form_del_edit">
    <h2 style="text-align:center">XÓA KHÁCH HÀNG</h2>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">ID khách hàng</label>
        <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.id" readonly>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Tên khách hàng</label>
        <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.ten" readonly>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Số điện thoại</label>
        <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.sdt" readonly>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Ngày sinh</label>
        <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.ngay_sinh.ToString("dd/MM/yyyy")" readonly>
    </div>


    @using (Html.BeginForm())
    {
        <p style="text-align:center;margin-top:50px">
            <input type="submit" value="XÁC NHẬN XÓA" />
            <div class="fix_btn" style="text-align:center">@Html.ActionLink("Trở về", "Index")</div>
        </p>
    }

</div>