
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Customer.css" rel="stylesheet">
<div class="main">
    <div class="form_del_edit">

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Tên khách hàng</label>
            <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.ten" readonly>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Số điện thoại</label>
            <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.sdt" readonly>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" style="font-weight:bold">Ngày sinh</label>
            <input type="text" class="form-control" id="formGroupExampleInput" value="@Model.ngay_sinh.ToString("dd/MM/yyyy")" readonly>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Customer"))
    {
        <div class="add_form_Customer" style="margin-top:100px">
            <h1 style="text-align:center;color:white;padding-top:50px;padding-bottom:50px">SỬA KHÁCH HÀNG</h1>
            <form class="row g-3">

                <div class="col-12">
                    <label class="form-label" style="font-weight:bold">Họ và tên khách hàng</label>
                    <input type="text" class="form-control" id="fixName" name="fixName" value="@Model.ten">
                    <span style="color:red">
                        @TempData["Loiten"]
                    </span>
                </div>

                <div class="col-12">
                    <label class="form-label" style="font-weight:bold">Ngày sinh</label>
                    <input type="date" class="form-control" id="fixDate" name="fixDate" value="@Model.ngay_sinh.ToString("dd/MM/yyyy")">
                    <span style="color:red">
                        @TempData["Loilich"]
                    </span>
                </div>
                <div class="col-12">
                    <label class="form-label" style="font-weight:bold">Số điện thoại</label>
                    <input type="text" class="form-control" id="fixNumber" name="fixNumber" value="@Model.sdt">
                    <span style="color:red">
                        @TempData["Loisdt"]
                    </span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="margin-left:80px">Sửa khách hàng</button>
                </div>
            </form>
        </div>
    }
    <div class="fix_btn" style="text-align:center">@Html.ActionLink("Trở về", "Index")</div>
</div>

