
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Customer.css" rel="stylesheet">
<div class="main">
    @using (Html.BeginForm("Search", "Customer"))
    {
        <div class="search-bar" style="margin-bottom:30px">
            <form class="search-form d-flex align-items-center" style="position:relative;">

                <input type="text" name="searchString" placeholder="Search">
                <input type="submit" style="margin-top:10px;border-radius:5px" value="Tìm kiếm" />
                <span style="color:red;">
                    @TempData["Loitk"]
                </span>
            </form>
        </div>
    }
        <h1 style="text-align:center;color:blue">QUẢN LÝ KHÁCH HÀNG</h1>
        <div >
            <table class="table table-hover bg-white text-center">
                <thead>
                    <tr>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Tên
                        </th>
                        <th scope="col">
                            Số điện thoại
                        </th>
                        <th scope="col">
                            Ngày sinh
                        </th>
                        <th scope="col">
                            Thao tác
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            <!-- Hiển thị ID của đối tượng với -->
                            @item.id
                        </td>
                        <td>
                            @item.ten
                        </td>

                        <td>
                            <!-- Hiển thị ID của đối tượng với -->
                            @item.sdt
                        </td>
                        <td>
                            @item.ngay_sinh.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <div class="d-flex flex-row justify-content-center">
                                <a class="btn btn-primary me-2"
                                   href="@Url.Action("Edit", new { id = item.id })">
                                    Sửa
                                </a>
                                <a class="btn btn-danger"
                                   href="@Url.Action("Delete", new { id = item.id })">
                                    Xóa
                                </a>
                            </div>

                        </td>
                    </tr>
                }

            </table>

        </div>

        @using (Html.BeginForm("Create", "Customer"))
        {
            <div class="add_form_Customer">
                <h1 style="text-align:center;color:white;padding-top:50px;padding-bottom:50px">THÊM KHÁCH HÀNG</h1>
                <form class="row g-3">
                    <div>
                        <label class="form-label" style="font-weight:bold">Họ và tên khách hàng</label>
                        <input type="text" class="form-control" id="inputName" name="inputName">
                        <span style="color:red">
                            @TempData["Loiten"]
                        </span>
                    </div>

                    <div>
                        <label class="form-label" style="font-weight:bold">Ngày sinh</label>
                        <input type="date" class="form-control" id="inputDate" name="inputDate">
                        <span style="color:red">
                            @TempData["Loilich"]
                        </span>
                    </div>
                    <div>
                        <label class="form-label" style="font-weight:bold">Số điện thoại</label>
                        <input type="text" class="form-control" id="inputNumber" name="inputNumber">
                        <span style="color:red">
                            @TempData["Loisdt"]
                        </span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:70px">Thêm khách hàng</button>
                    </div>
                </form>
            </div>

        }
    </div>



