
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Customer.css" rel="stylesheet">
<div class="main">
    <h2>Tìm kiếm khách hàng với từ khóa:@ViewData["s"] </h2>
    <div>
        <table class="table table-hover bg-white text-center">
            <thead>
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Tên
                    </th>
                    <th scope="col">
                        Số điện thoại
                    </th>
                    <th scope="col">
                        Ngày sinh
                    </th>
                    <th scope="col">
                        Thao tác
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        <!-- Hiển thị ID của đối tượng với -->
                        @item.id
                    </td>
                    <td>
                        @item.ten
                    </td>

                    <td>
                        <!-- Hiển thị ID của đối tượng với -->
                        @item.sdt
                    </td>
                    <td>
                        @item.ngay_sinh.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-center">
                            <a class="btn btn-primary me-2"
                               href="@Url.Action("Edit", new { id = item.id })">
                                Sửa
                            </a>
                            <a class="btn btn-danger"
                               href="@Url.Action("Delete", new { id = item.id })">
                                Xóa
                            </a>
                        </div>

                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="fix_btn" style="text-align:center">@Html.ActionLink("Trở về", "Index")</div>
</div>
