@using QuanLyCuaHangBanDienThoai.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ThuongHieus = ViewBag.ThuongHieus as IQueryable<ThuongHieu>;
    var inValidName = ViewBag.inValidName as String;
    var inValidGiaBan = ViewBag.inValidGiaBan as String;
    var inValidGiaNhap = ViewBag.inValidGiaNhap as String;
    var inValidThongSoSanPham = ViewBag.invalidThongSoSanPham as String;
    var isError = ViewBag.isError as String;
}

@functions{
    public string checkValid(String error)
    {
        return String.IsNullOrEmpty(error) ? "" : "is-invalid";
    }
}

<form method="post" action="/sanpham/create" @isError enctype='multipart/form-data'>
    <div class="d-flex flex-row justify-content-between mb-3">
        <h2>Thêm sản phẩm mới</h2>
        <div>
            <a href="@Url.Action("Index", "SanPham")" class="btn btn-outline-primary mx-1">Thoát</a>
            <button type="submit" class="btn btn-primary mx-1">Lưu</button>
        </div>

    </div>



    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Thông tin sản phẩm</div>
                    <!-- Multi Columns Form -->
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label">
                                Tên sản phẩm
                            </label>
                            <input type="text"
                                   class="form-control @checkValid(inValidName)"
                                   name="name"
                                   id="ten"
                                   value="@ViewBag.name" />
                            <div class="invalid-feedback">
                                @inValidName
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputEmail5" class="form-label">
                                Mô tả sản phẩm
                            </label>
                            <textarea rows="4"
                                      class="form-control"
                                      name="description"
                                      id="inputEmail5"
                                      value="@ViewBag.description"></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="inputEmail5" class="form-label">
                                Thương hiệu
                            </label>
                            <div class="d-flex flex-row">
                                <select class="form-select h-50 w-50 me-2" name="brandId">
                                    <option value="0">Chọn thương hiệu</option>
                                    @foreach (var thuongHieu in ThuongHieus)
                                    {
                                        <option value="@thuongHieu.id">@thuongHieu.ten</option>
                                    }
                                </select>
                                <button class="btn btn-primary">
                                    Thêm thương hiệu
                                </button>
                            </div>

                        </div>
                    </div><!-- End Multi Columns Form -->
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <!-- Begin row -->
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Ảnh sản phẩm</div>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="file-loading">
                                        <input id="input-image"
                                               name="file"
                                               type="file"
                                               class="file"
                                               data-browse-on-zone-click="true"
                                               data-allowed-file-extensions='["jpg", "png"]'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row -->

        </div>


    </div>

    <!--Begin Price-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Giá sản phẩm</div>
                    <div class="row">
                        <div class="col-12 row align-items-center mb-3 ">
                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Giá bán</label>
                            </div>
                            <div class="col-9">
                                <input type="text"
                                       class="form-control @checkValid(inValidGiaBan)"
                                       name="inputGiaBan" id="inputGiaBan" value="0" />
                                <div class="invalid-feedback">
                                    @inValidGiaBan
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-12 row align-items-center mb-3 ">
                            <div class="col-3">
                                <label for="inputPassword6" class="col-form-label">Giá nhập</label>
                            </div>
                            <div class="col-9">
                                <input type="text"
                                       class="form-control @checkValid(inValidGiaNhap)"
                                       name="inputGiaNhap" id="inputGiaNhap" value="0" />
                                <div class="invalid-feedback">
                                    @inValidGiaNhap
                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>
        </div>
    </div><!--End Price-->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Thông số sản phẩm</div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <input class="form-control d-none @checkValid(inValidThongSoSanPham)"/>
                            <div class="invalid-feedback">
                                @inValidThongSoSanPham
                            </div>
                        </div>

                        <div class="col-12 row align-items-center mb-3 ">
                            <div class="col-3">
                                <label class="col-form-label">Màu sắc</label>
                            </div>
                            <div class="col-9">
                                <input value="@ViewBag.mauSac" name="mauSac" type="text" id="inputRam" class="form-control"
                                       placeholder="Gõ ký tự và mỗi thuộc tính cách nhau bằng dấu ," />
                            </div>
                        </div>
                        <div class="col-12 row align-items-center mb-3">
                            <div class="col-3">
                                <label class="col-form-label">Dung lượng</label>
                            </div>
                            <div class="col-9">
                                <input @ViewBag.dungLuong name="dungLuong" type="text" id="inputDungLuong" class="form-control"
                                       placeholder="Gõ ký tự và mỗi thuộc tính cách nhau bằng dấu ,">
                            </div>
                        </div>
                        <div class="col-12 row align-items-center mb-3">
                            <div class="col-3">
                                <label class="col-form-label">Ram</label>
                            </div>
                            <div class="col-9">
                                <input value="@ViewBag.ram" name="ram" type="text" id="inputRam" class="form-control"
                                       placeholder="Gõ ký tự và mỗi thuộc tính cách nhau bằng dấu ,">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>


<script>

    function handleInputPrice(value, inputPrice) {
                if (typeof value == 'number') {
                    value = value.toString();
                }
                if (value.length >= 12) {
                    inputPrice.value = value.substring(0, value.length - 1);
                    return;
                }
                value = value.replaceAll(",", "");
                
                if (isNaN(value) || value === '' || value === undefined) {
                    inputPrice.value = '0';
                    return;
                }
                value = parseInt(value).toLocaleString("en-US");
                inputPrice.value = value;
    }
    document.addEventListener("DOMContentLoaded", function () {
        $("#input-image").fileinput();

        const inputGiaBan = document.querySelector("#inputGiaBan");
        const inputGiaNhap = document.querySelector("#inputGiaNhap");

        handleInputPrice('@ViewBag.giaBan' === '' ? 0 : '@ViewBag.giaBan', inputGiaBan);
        handleInputPrice('@ViewBag.giaNhap' === '' ? 0 : '@ViewBag.giaNhap', inputGiaNhap);

        inputGiaBan.addEventListener("input", (e) => {
            handleInputPrice(e.target.value, inputGiaBan);
        });

        inputGiaNhap.addEventListener("input", (e) => {
            handleInputPrice(e.target.value, inputGiaNhap);
        });
    });



</script>
