@using QuanLyCuaHangBanDienThoai.Models
@model SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thuongHieus = ViewBag.thuongHieus as IQueryable<ThuongHieu>;
}

@functions{

    public string GetImageSrc(string imgSrc)
    {
        return string.IsNullOrEmpty(imgSrc) ? "/Content/img/default-thumbnail.png" : imgSrc;
    }

    public string GetVariantName(BienTheSanPham item)
    {
        return item.SanPham.ten + " " + item.ThongSoSanPham.mau_sac + " " + item.ThongSoSanPham.dung_luong + " " + item.ThongSoSanPham.ram;
    }

}

<form method="post" action="@Url.Action("Edit", "SanPham", new { id = Model.id })" enctype='multipart/form-data'>

    <div class="row mb-3 justify-content-between">
        <h2 class="col-12 col-md-8">Sửa thông tin sản phẩm</h2>
        <div class="col-12 col-md-4">
            <div class="d-flex flex-row justify-content-md-end">
                <a href="@Url.Action("Detail", "SanPham", new { id = Model.id} )" class="btn btn-outline-primary mx-1">Quay lại</a>
                <button type="submit" class="btn btn-primary mx-1">Sửa thông tin</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center text-md-start">Thông tin sản phẩm</div>

                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-12 d-flex flex-column w-75">
                            <div class="row mb-2">
                                <label class="form-label">
                                    Tên sản phẩm
                                </label>
                                <input type="text"
                                       class="form-control"
                                       name="name"
                                       value="@Model.ten" />
                                <div class="invalid-feedback">

                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="form-label">
                                    Thương hiệu
                                </label>
                                <select class="form-select" name="brandId">
                                    @foreach (var thuongHieu in thuongHieus)
                                    {
                                        if (thuongHieu.id == Model.id_thuong_hieu)
                                        {
                                            <option value="@thuongHieu.id" selected>
                                                @thuongHieu.ten
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@thuongHieu.id">
                                                @thuongHieu.ten
                                            </option>
                                        }


                                    }
                                </select>
                            </div>

                        </div>
                        <div class="col-8" style="">
                            <img src="@GetImageSrc(Model.hinh_anh)"
                                 class="img-thumbnail"
                                 style="width: 200px; height: 200px;" />
                            <input class="form-control" type="file" name="file" id="inputFile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputFile = document.querySelector("#inputFile");
        const preview = document.querySelector('.img-thumbnail');
        inputFile.addEventListener('input', () => {
            const file = inputFile.files[0];
            const reader = new FileReader();

            reader.onloadend = () => {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        })
    });
</script>